html {
  background-image: url(../order-summary-component-main/images/pattern-background-desktop.svg);
  background-position: center;
  height: 70vh;
  background-repeat: no-repeat;
}

body {
  text-align: center;
}
div {
  font-size: 200%;
  margin-top: 5%;
  padding-bottom: 5%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
