* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: rgb(228, 15, 15);
  max-width: 1100;
  margin: 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  box-sizing: border-box;
}
