html {
  background-image: linear-gradient(
      rgba(87, 87, 87, 0.1),
      rgba(100, 98, 98, 0.1)
    ),
    url(../order-summary-component-main/images/pattern-background-desktop.svg);
  background-size: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: 0 -30px 0 0;
}
img {
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
}
body {
  max-width: 450px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  margin-top: 80px;
}
.text {
  max-width: 466px;
  margin: 0 auto;
  text-align: center;
  color: gray;
}

h2 {
  max-width: 466px;
  margin: 0 auto;
  font-size: 200%;
  margin-top: 5%;
  padding-bottom: 2%;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
